body
{
    background-color:  #fff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* Header */

/* Top Header */
.container.top-header
{
    width: 1800px;
    max-width: 100%;
}
.top-header
{
    background-image: url(../images/demo_img_1.jpg);
    padding-bottom: 49%;
    background-size: cover;
}
.navbar-dark .navbar-nav .active>.nav-link, 
.navbar-dark .navbar-nav .nav-link.active, 
.navbar-dark .navbar-nav .nav-link.show, 
.navbar-dark .navbar-nav .show>.nav-link,
.navbar-dark .navbar-nav .nav-link:hover
{
    border-bottom: 1px solid #fff;
    color: rgba(255, 255, 255, 1);
}
.navbar-dark .navbar-nav .nav-link
{
    color: #fff;
    font-weight: 500;
    font-size: 19px;
    padding: 0 25px;
}
.nav-item
{
    display: flex;
}
.drop-down
{
    color: #fff;
    margin-top: 7px;
    margin-left: -19px;
    font-size: small;
}

.top-header-icon
{
    display: flex;
    padding: 10px 65px;
    margin: 17px 25px;
    color: #fff;
    font-size: 19px;
    margin-left: 25%;
}
a.search,
a.user
{
    color: #fff;
    padding: 7px 17px;
}
.shopping-cart 
{
    display: flex;
    background: #481A9A;
    padding: 7px 17px;
    border-radius: 5px;
}
a.cart
{
    color: #fff;
    margin-left: -5px;
    padding-right: 17px;
    border-right: 0.5px solid #fff;
}
.quantity
{
    padding-left: 17px;
}

/* Banner */
.container.banner,
.container.main-content
{
    width: 2010px;
    padding: 0 0px;
    margin: 0 auto;
    max-width: 100%;
}
.slogan
{
    text-align: center;
    padding: 250px 0 250px 200px;
}
.slogan h1
{
    font-size: 65px;
    color: #1f1b18;
    font-weight: 700;
    margin-bottom: 80px;
    display: block;
    position: relative;
    line-height: 62px;
}
.slogan h2
{
    font-size: 36px;
    color: #1f1b18;
    line-height: 40px;
    padding: 0 40px;
    font-weight: 600;
}
button.shop-now
{
    background-color: #1f1b18;
    padding: 6px 21px;
    font-weight: 500;
    border: 2px solid #1f1b18;
    border-radius: 18px;
    color: #ffffff;
    font-size: 14px;
    margin-top: 40px;
}
button.shop-now:hover
{
    border: 2px solid #1f1b18;
    color: #000;
    background-color: #fff;
}
.image-banner
{
    padding-top: 100px;
}

/* Main-Content */
/* <!-- Title --> */
.title
{
    text-align: center;
    font-size: 46px;
    color: #1f1b18;
    font-weight: 600;
    padding-bottom: 35px;
}
/* <!-- Products --> */
.products ul
{
    display: flex;
    margin-left: 520px;    
}
.products1 span,
.products2 span:hover,
.products3 span:hover
{
    font-size: 23px;
    font-weight: 500;
    color: #481A9A;
}
.products1 span
{
    border-right: 1px solid #1f1b18;
    padding-left: 15px;
    padding-right: 15px;
}
.products2 span
{
    border-right: 1px solid #1f1b18;
}
.products2 span,
.products3 span
{
    font-size: 23px;
    font-weight: 500;
    color: #1f1b18;
    padding-left: 15px;
    padding-right: 15px;
}
ul 
{
    list-style: none;
    text-align: center;
}
/* <!-- Item --> */
.container.item
{
    width: 1150px;
    margin: 0 auto;
}
.row
{
    margin-bottom: 50px;
}
.item-image1
{
    background-image: url(../images/nike-shoes.jpg);
}
.item-image2
{
    background-image: url(../images/printed-shoes.jpg)
}
.item-image3
{
    background-image: url(../images/partywear-shoes.jpg)
}
.item-image4
{
    background-image: url(../images/sports-shoes.jpg)
}
.item-image5
{
    background-image: url(../images/casual-shoes.jpg)
}
.item-image6
{
    background-image: url(../images/boxer-shoes.jpg)
}
.item-image1,
.item-image2,
.item-image3,
.item-image4,
.item-image5,
.item-image6
{
    color: #000;
    text-align: left;
    padding: 20px 0 380px 15px;
}
p
{
    padding-left: 20px;
}
.describe
{
    border: 0.5px solid #B5B5B5;
}
.item-describe
{
    padding: 0 10px;
    text-align: center;
}
.fas.fa-star
{
    color: #B5B5B5;
    font-size: 10px;
}
.name
{
    font-weight: 600;
    padding-left: 10px;
    padding-right: 10px;
}
.price
{
    display: flex;
    padding-left: 120px;
}
.new-price
{
    font-weight: bold;
    padding-right: 10px;
    font-size: 17px;
}
.old-price
{
    color: #B5B5B5;
    font-size: 15px;
    padding-top: 1px;
}
/* <!-- Services --> */
.service1,
.service2,
.service3,
.service4,
.service5
{
    text-align: center;
    padding: 60px;
}
.service1 i,
.service2 i,
.service3 i,
.service4 i,
.service5 i
{
    color: #B5B5B5;
    border: 0.5px solid #B5B5B5;
    padding: 30px;
    border-radius: 7px;
    margin-bottom: 15px;
}
.service1 i:hover,
.service2 i:hover,
.service3 i:hover,
.service4 i:hover,
.service5 i:hover
{
    color: #1f1b18;
    border: 0.5px solid #1f1b18;
}
.service1 h5,
.service2 h5,
.service3 h5,
.service4 h5,
.service5 h5
{
    color: #1f1b18;
}
.service1 p,
.service2 p,
.service3 p,
.service4 p,
.service5 p
{
    color: #B5B5B5;
}
/*<!-- Suggestion --> */
.container.suggestion
{
    width: 1150px;
    margin: 0 auto;
}
.comment i
{
    padding-left: 50px;
    color: #B5B5B5;
    font-size: 20px;
}
.comment p
{
    padding: 10px 50px;
    color: #888888;
    font-weight: 500;
}
.comment img
{
    padding: 3px 3px 3px 50px;
    background: #F8F8F8;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}
.comment
{
    border: 1px solid #B5B5B5;
}
.name-h
{
    color: #2f2f2f;
    padding: 10px 0 0 50px;
}
.job
{
    color: #888888;
    padding: 0 0 10px 50px;
}
/* <!-- News --> */
.container.news
{
    width: 1150px;
    margin: 0 auto;
}
.news1
{
    text-align: center;
    margin-top: -50px;
    margin-left: 35px;
    margin-right: 35px;
    padding: 10px 50px;
    position: relative;
    background-color: #fff;
}
.des
{
    display: flex;
    padding-top: 10px;
}
.des i.fa-clock
{
    padding-top: 3px;
    color: #2f2f2f;
    padding-left: 60px;
}
.des i.fa-comment-alt
{
    padding-top: 3px;
    color: #2f2f2f;
    padding-left: 20px;
}
.des1
{
    padding-left: 10px;
    font-style: italic;
    color: #2f2f2f;
}
.news1 p
{
    color: #888888;
}
.news1 h5
{
    font-weight: bold;
}
/* <!-- All Blogs --> */
.more
{
    text-align: right;
    padding-right: 210px;
}
a.all-blogs 
{
    color: #1f1b18;
}
a.all-blogs i
{
    font-size: 70%;
    padding-left: 7px;
}
a.all-blogs:hover
{
    color: #481A9A;
}
/* <!-- Types --> */
.type
{
    padding: 0 35px;
    border-right: 0.5px solid #B5B5B5;
}
.types
{
    opacity: 0.4;
    margin-top: 100px;
}
.type:hover
{
    opacity: 1;
}


/* Footer */
footer
{
    background-color:  #000;
    padding: 100px 30px 0;
    margin-top: 150px;
}
/* Contact */
.contact
{
    text-align: center;
}
.contact img
{
    margin-bottom: 30px;
}
.contact i
{
    color: #fff;
    padding: 13px 15px;
    border-radius: 100px;
    border: 0.5px solid #fff;
    margin: 5px;
}
.input-mail
{
    margin: 30px 430px;
    padding: 3px 0;
    border-bottom: 0.5px solid #888888;
    border-top: 0.5px solid #888888;
}
.input-mail input
{
    color: rgba(255, 255, 255, 0.5);
    background: #000;
    padding: 15px 270px 15px 20px;
    border: none;
}
.input-mail button
{
    background: none;
    border: none;
    color: #CCCCCC;
}
.fa-facebook-f:hover
{
    color: #395498;
}
.fa-twitter:hover
{
    color: #2CAAE1;
}
.fa-rss:hover
{
    color: #916007;
}
.fa-youtube:hover
{
    color: #E80101;
}
.fa-google-plus-g:hover
{
    color: #811D1E;
}
.fa-pinterest-p:hover
{
    color: #A92F2F;
}
.fa-vimeo-v:hover
{
    color: #179CC7;
}
.fa-instagram:hover
{
    color: #BB2A69;
}
/* Info */
.container.info
{
    width: 1900px;
    max-width: 100%;
}
.info h5
{
    color: #fff;
    padding-bottom: 15px;
}
.info p
{
    color: #CCCCCC;
    padding-left: 1px;
}
.info p:hover
{
    color: #3B177B;
    padding-left: 10px;
    font-size: 15px;
}
.info1
{
    color: #CCCCCC;
    padding-bottom: 17px;
}
.mail
{
    color: #CCCCCC;
}
.mail:hover
{
    box-sizing: inherit;
    color: #3B177B;
}
/*  */
.footer
{
    display: flex;
    border-top: 0.3px solid #CCCCCC;
}
.footer p
{
    padding: 30px 0;
    color: #CCCCCC;
}
.footer p:hover
{
    color: #3B177B;
}
.payment
{
    padding-left: 800px;
    padding-top: 20px;
}
.pay
{
    padding: 10px;
}
.bottom-to-top
{
    margin-top: 50px;
    margin-bottom: 10px;
    background: #000;
    border-radius: 5px;
    padding: 10px 20px;
    border: 0.4px solid #fff;
}
.bottom-to-top i
{
    color: #fff;
    margin-bottom: -150px;
}